<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 2-32</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>

        .t-enter-active, .t-leave-active {
            transition: opacity 1s ease;
        }

        .t-enter-from, .t-leave-to {
            opacity: 0;
        }

    </style>
</head>
<body>
    
    <div id="app">

        <button @click="label=!label">
            <span v-if="label">Afficher texte 2</span>
            <span v-else>Afficher texte 1</span>
        </button>
        <transition name="t" mode="in-out">
            <div v-if="label" key="1">Premier texte</div>
            <div v-else key="2">Second texte</div>
        </transition>

    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    label: false
                }
            }
        });
        app.mount('#app');
    </script>
    
</body>
</html>