<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 2-31</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .t-enter-from
        .t-leave-to {
            opacity: 0;
        }

        .t-enter-active, 
        .t-leave-active {
            transition: opacity 5s ease-in;
        }
    </style>
</head>
<body>
    
    <div id="app">
        <button @click="visible=!visible">
            <span v-if="visible">Cacher</span>
            <span v-else>Afficher</span>
        </button>
        <transition name="t">
            <!-- Element à animer -->
            <div v-if="visible">    
                <img src="/section-1/img/petitchat.jpg">
            </div>
        </transition>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    visible: true
                }
            }
        });
        app.mount('#app');
    </script>
    
</body>
</html>